<h1> Editer un gossip </h1>

<%= form_for @gossip, :url => user_gossip_path do |f| %>

	<div class="form-group">
		<label>Titre du gossip :</label>
		<%= f.text_field :title, class: 'form-control' %>
	</div>
	<div class="form-group">
		<label>Contenu :</label>
		  <%= f.text_area :content, class: 'form-control' %>
	</div>
  <%= f.submit "Modifie le gossip", class:"btn btn-primary" %>
<% end %>